@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 11.25 50% 6.27%;

		--primary: 11.93 86.1% 63.33%;
		--primary-foreground: 0 0% 100%;

		--card: 0 0% 100%;
		--card-foreground: 11.25 50% 6.27%;

		--popover: 0 0% 100%;
		--popover-foreground: 11.25 50% 6.27%;

		--secondary: 12.5 85.71% 94.51%;
		--secondary-foreground: 0 0% 0%;

		--muted: 11.25 88.89% 96.47%;
		--muted-foreground: 0 0% 40%;

		--accent: 11.25 88.89% 96.47%;
		--accent-foreground: 11.93 86.1% 63.33%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 0 0% 90.2%;
		--input: 0 0% 90.2%;
		--ring: 11.93 86.1% 63.33%;

		--radius: 0.1rem;
	}
	.dark {
		--primary: 11.93 86.1% 63.33%;
		--primary-foreground: 0 0% 100%;

		--card: 0 0% 0%;
		--card-foreground: 12.5 85.71% 94.51%;

		--popover: 0 0% 0%;
		--popover-foreground: 12.5 85.71% 94.51%;

		--secondary: 12.63 50.44% 22.16%;
		--secondary-foreground: 0 0% 100%;

		--muted: 0 0% 9.8%;
		--muted-foreground: 0 0% 50.2%;

		--accent: 12.63 50.44% 22.16%;
		--accent-foreground: 12.5 85.71% 94.51%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 11.93 86.1% 63.33%;

		--radius: 0.1rem;
	}

	/* https://coolors.co/e4aac2-551b33-75cf54-db0058-c98e36 */
	/* https://www.realtimecolors.com/?colors=e4aac2-551b33-75cf54-db0058-c98e36&fonts=Plus%20Jakarta%20Sans-Plus%20Jakarta%20Sans */
	[data-theme="trungthu-archive-2024"] {
		--background: 335 52% 88%;
		--foreground: 325 52% 9%;

		--card: 335 52% 88%;
		--card-foreground: 325 52% 9%;

		--popover: 335 52% 88%;
		--popover-foreground: 325 52% 9%;

		--primary: 104 56% 43%;
		--primary-foreground: 325 52% 9%;

		--secondary: 336 100% 57%;
		--secondary-foreground: 325 52% 9%;

		--muted: 334 53% 20%;
		--muted-foreground: 325 52% 55%;

		--accent: 87 86% 62%;
		--accent-foreground: 325 52% 9%;

		--destructive: 0 85% 60%;
		--destructive-foreground: 325 52% 9%;

		--border: 325.85 52.0% 75.49%;
		--input: 325.85 52.0% 75.49%;
		--ring: 87 86% 40%;
		
		--radius: 0.1rem;
	  }
	
	/* https://coolors.co/f3f1f2-010101-dea3a5-f86134-283bdd */
	/* https://www.realtimecolors.com/?colors=010101-F3F1F2-F86134-283BDD-dea3a5&fonts=Plus%20Jakarta%20Sans-Plus%20Jakarta%20Sans */
	[data-theme="early-access-2024"] {
		--background: 330 8% 95%;
		--foreground: 0 0% 0%;
		
		--card: 330 8% 95%;
		--card-foreground: 0 0% 0%;
		
		--popover: 330 8% 95%;
		--popover-foreground: 0 0% 0%;
		
		--primary: 14 93% 59%;
		--primary-foreground: 0 0% 0%;
		--secondary: 358 47% 75%;
		--secondary-foreground: 0 0% 0%;
		
		--muted: 330 8% 20%;
		--muted-foreground: 0 0% 70%;
		
		--accent: 234 73% 51%;
		--accent-foreground: 330 8% 95%;
		
		--destructive: 0 85% 60%;
		--destructive-foreground: 0 0% 0%;
		
		--border: 330 8% 20%;
		--input: 330 8% 20%;
		--ring: 234 73% 40%;
		
		--radius: 0.1rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
